.hover-effect {
    transition: color 0.3s ease-in-out, transform 0.2s;
  }

  .nav-color {
    background-color: #004085;
  }
  
  .hover-effect:hover {
    color: rgba(255, 255, 255, 0.5) !important; 
    transform: scale(1.05);   
  }
  